body {
    margin:0;
}

.red {
    background: #c71226;
    height: 100px;
    
}

.blue {
    background: #0d1b88;
    height: 100px;
    /*Challenge:
    Flag of Gambia. */

    margin-top: 20px;
    margin-bottom: 20px;
}

.green {
    background: #397327;
    height: 100px;
}

