/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: rgb(14, 180, 69);     /* red, blue, yellow, etc */
    color: rgb(131, 17, 163);             /* red, blue, yellow, etc */
    font-size: 30px;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 100px;        /* From 0px and upwards   */
}




