.main {
    margin-top: 100px;
}

/* Challenge - part 2: 
Replace the element selectors with class selectors */
.ggl-img {
    display: block;
    width: 300px;
}

.search-inp {
    display: block;
    width: 400px;
}
